@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#root {
  width: 100%;
}

.currency-converter {
  @apply w-[480px] mx-auto px-10 pt-0 pb-12 rounded-lg bg-[#e7e6e64d] border border-[rgba(255,255,255,0.3)] mb-10;
}

.converter-title {
  @apply text-black text-2xl font-semibold text-center;
}

.currency-converter {
  @apply text-black text-2xl font-semibold;
}

.currency-converter .converter-form {
  @apply mt-11;
}

.converter-form .form-group {
  @apply flex flex-col mb-7;
}

.converter-form .form-group .form-label {
  @apply text-black font-medium mb-2.5 text-base;
}

.converter-form .form-group .form-input {
  @apply outline-none text-lg px-4 text-black font-medium min-h-[48px] rounded-lg bg-white border border-gray-300;
}

.converter-form .form-currency-group {
  @apply flex flex-row items-center justify-between;
}

.form-currency-group .currency-select {
  @apply flex pl-2.5 pr-0 min-h-[45px] items-center rounded-md bg-white border border-gray-300;
}

.form-currency-group .currency-select img {
  @apply w-6;
}

.form-currency-group .currency-select .currency-dropdown {
  @apply outline-none border-none bg-transparent text-black text-base font-medium pl-2.5;
}

.form-currency-group .currency-select .currency-dropdown option {
  @apply text-black font-medium;
}

.form-currency-group .swap-icon {
  @apply h-10 w-10 cursor-pointer flex items-center justify-center rounded-full bg-[rgba(255,255,255,0.1)] border border-gray-300 transition ease-in-out;
}

.form-currency-group .swap-icon:hover {
  @apply bg-[rgba(255,255,255,0.3)];
}

.converter-form .submit-button {
  @apply w-full min-h-[52px] rounded-md border-none outline-none text-base font-semibold cursor-pointer mt-1.5 transition ease-in-out bg-[#4DC5CE] text-white font-montserrat;
}

.converter-form .submit-button.loading {
  @apply opacity-70 pointer-events-none;
}

/* .converter-form .submit-button:hover {
  @apply bg-[rgba(0,0,0,0.7)];
} */

.converter-form .exchange-rate-result {
  @apply text-black text-lg font-semibold text-center py-6 mt-6 rounded-md tracking-wider bg-[rgba(255,255,255,0.15)];
}
